.arrow {
  display: none;
}

.container{
  max-width: 800px;
}

@media (max-width: 880px) {
  .arrow {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap:100px;
  }
  .right {
    padding: 10px 15px;
    background-color: transparent;
    user-select: none;
    font-size: 80px;
    border: none;
  }
  .left {
    padding: 10px 15px;
    font-size: 80px;
    border: none;
    background-color: transparent;
    user-select: none;
  }
}
